body {
  color: #eee;
  background-color: #272727
}

#content, #content2, #content3, #content4, #content5 {
  color: #eee;
  background-color: #454955;
}

#jumbo {
  background-color: #D36135;
}

#pageLabel{
  color: #D36135;
}

#accessibility{
  background-color: #D36135;
  border: none;
}

#icon{
  color:#272727;
}

h3{
  color: #D36135;
}