 footer
{
    padding-top: 50px;
}
 
.aboutSection
{
	
	margin-bottom: 150px;
	padding-top: 300px;
	
}

h1
{
	
	font-size: 60px
	
}
.bg
{
	
	background-image: url("../images/Security-Camera-Workplace.jpg");
	margin-top: 2%;
	height: 100%; 
	
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
body, html
{
	
	margin:0;
	height:100%;
	
}
.centered
{
	
	text-align: center;
	background-color: #212529;
	font-size: 30px;
	position: relative;
	bottom: 50%;
}