* {
    box-sizing: border-box;
  }
  /*Margins*/
  .Page-layout{
      margin: auto;
      width: 50%;
      padding: 30px, 10px, 100px;
  }
  .tools{
      padding-top: 75px;
 .More-info{
     padding-bottom: 50px;
      }
  
  footer{
    padding-top: 50px;

  
  
