* {
    box-sizing: border-box;
  }
  /*Margins*/
  .Page-layout{
      margin: auto;
      width: 100%;
      padding: 30px, 10px, 100px;
  }
  .tools{
      padding-top: 75px;
}
  footer{
    padding-top: 50px;
}
  
  
